p{
    font-family: Arial, Courier;
    color: rgb(121, 73, 11);
}

body{
    background-image: url("sam1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section > p{  /*selektor dziecka*/
    color: red;
}




section  h1{  /*selektor rodzica*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    font-weight:400;
    letter-spacing: 3px;
    border: solid dimgray 3px;
    border-radius: 15px;
    width: 35%;
    margin: 5px;
    padding: 15px;
}

/*Nowa klasa  w CSS odwołujemy się przez kropkę*/
.nowa{   
    color: #14F422;
    text-shadow: 5px 5px 5px green;
}

/*Do id odwołujemy się przez #*/
#komunikat{
    font-size: 50px;
    color: darkgoldenrod;
}

#komunikat:hover{
    color: cornflowerblue;
    font-size: 54px;
    text-shadow: 10px 4px 5px dimgray;
}

p{
    color: black;
    letter-spacing: 18px;
}


a:visited{
    background-color: antiquewhite;
    color: #f414f4;
}
p::first-letter{
    font-size: 23;
    color: deeppink;
}

h1:hover{
    box-shadow: 10px 10px 5px black;
    background-color: antiquewhite;
}

.prawa{
    text-align: right;
    line-height: 20px;
    text-decoration: underline overline;
    text-transform: lowercase;
}