p{
    color: rgb(121, 73, 11);
}


section > p{  /*selektor dziecka*/
    color: red;
}



section  h1{  /*selektor rodzica*/
    color: red;
}


.nowa{   /*Nowa klasa  w CSS odwołujemy się przez kropkę*/
    color: #14F422;
    text-shadow: 5px 5px 5px green;
    text-decoration: dotted;
}

